# 자치구 별 교육 기관 데이터

In [ ]:
import pandas as pd
import mysql.connector

## 어린이집

In [ ]:
daycare_center = pd.read_csv('/home/lee/dev_ws/projects/project01/data/어린이집.csv', encoding='euc-kr')
daycare_center.head()

daycare_center = daycare_center.iloc[0:25]
daycare_center = daycare_center[['자치구명', '시설수합계']]
daycare_center.rename(columns={'자치구명':'자치구',
                                        '시설수합계':'계'}, inplace=True)

In [ ]:
daycare_center.reset_index()

daycare_center['타입'] = '어린이집'

for idx, gu in enumerate(daycare_center['자치구']):
    if gu == '중구':
        pass
    else:
        daycare_center['자치구'][idx] = gu + '구'

daycare_center

## 유치원

In [ ]:
preschool = pd.read_csv('/home/lee/dev_ws/projects/project01/data/유치원.csv', header=2,encoding='utf-8')

preschool = preschool[['자치구별(2)','소계']]
preschool.rename(columns={'자치구별(2)':'자치구', '소계':'계'}, inplace=True)
preschool = preschool[preschool['자치구']!='소계']

preschool = preschool.set_index('자치구')
preschool = preschool.reset_index()
preschool['타입'] = '유치원'

preschool.head()

## 초등학교

In [ ]:
elementary = pd.read_csv('/home/lee/dev_ws/projects/project01/data/초등학교.csv',header=3, encoding='utf-8')
elementary = elementary[['자치구별(2)','소계']]
elementary.rename(columns={'자치구별(2)':'자치구', '소계':'계'}, inplace=True)
elementary = elementary[elementary['자치구']!='소계']

elementary = elementary.set_index('자치구')
elementary = elementary.reset_index()
elementary['타입'] = '초등학교'

elementary

## 중학교

In [ ]:
middle = pd.read_csv('/home/lee/dev_ws/projects/project01/data/중학교_390.csv', encoding='euc-kr')

middle = middle[['도로명주소', '학교명', '설립구분']]
middle['자치구'] = [gu.split(' ')[1] for gu in middle['도로명주소']]

middle = pd.pivot_table(
    data=middle,
    columns='자치구',
    values='학교명',
    aggfunc='count'
).T.reset_index()

middle.rename(columns={'학교명':'계'},inplace=True)

middle['타입'] = '중학교'

middle

## 고등학교

In [ ]:
high = pd.read_csv('/home/lee/dev_ws/projects/project01/data/고등학교_318.csv', encoding='euc-kr')

high = high[['도로명주소', '학교명', '설립구분']]
high['자치구'] = [gu.split(' ')[1] for gu in high['도로명주소']]
high = pd.pivot_table(
    data=high,
    columns='자치구',
    values='학교명',
    aggfunc='count'
).T.reset_index()

high.rename(columns={'학교명':'계'},inplace=True)

high = high.set_index('자치구')
high = high.sort_values('계')
high['타입'] = '고등학교'
high = high.reset_index()

high

## 대학교

In [ ]:
university = pd.read_excel('/home/lee/dev_ws/projects/project01/data/대학교.xlsx',header=1)

university = university[university['시도']=='서울']
university = university[['행정구', '학교수']]
university = university.drop(26)
university.rename(columns={'행정구':'자치구','학교수':'계'},inplace=True)

university

## 학원과 독서실

In [ ]:
academy_studyspace = pd.read_csv('/home/lee/dev_ws/projects/project01/data/학원_독서실.csv',encoding='utf-8')
academy_studyspace = academy_studyspace[['자치구별(2)','2023.1','2023.2','2023.4','2023.6','2023.20']]

academy_studyspace.rename(columns={
    '자치구별(2)':'자치구',
    '2023.1':'계',
    '2023.2':'입시학원계',
    '2023.4':'예체능학원계',
    '2023.6':'입시컨설팅계',
    '2023.20':'독서실계'
},inplace=True)

academy_studyspace = academy_studyspace.drop([0,1,2,3,4])

academy_studyspace = academy_studyspace.set_index('자치구')
academy_studyspace = academy_studyspace.reset_index()

### 학원 데이터

#### 입시학원 결과 (test_prep_acad)

In [ ]:
# 입시학원
test_prep_acad = academy_studyspace[['자치구', '입시학원계']]

test_prep_acad = test_prep_acad.set_index('자치구')
test_prep_acad['입시학원계'] = test_prep_acad['입시학원계'].astype(int)
test_prep_acad = test_prep_acad.sort_values('입시학원계')

test_prep_acad.rename(columns={'입시학원계':'계'},inplace=True)

test_prep_acad['타입'] = '입시학원'

test_prep_acad

#### 예체능학원 결과 art_sport_acad

In [ ]:
# 에체능학원
art_sport_acad = academy_studyspace[['자치구', '예체능학원계']]

art_sport_acad = art_sport_acad.set_index('자치구')
art_sport_acad['예체능학원계'] = art_sport_acad['예체능학원계'].astype(int)
art_sport_acad = art_sport_acad.sort_values('예체능학원계')

art_sport_acad['타입'] = '예체능학원'

art_sport_acad.rename(columns={'예체능학원계':'계'},inplace=True)

art_sport_acad

### 독서실

In [ ]:
study_space = academy_studyspace[['자치구', '독서실계']]

study_space = study_space.set_index('자치구')
study_space['독서실계'] = study_space['독서실계'].astype(int)
study_space = study_space.sort_values('독서실계')

study_space['타입'] = '독서실'

study_space.rename(columns={'독서실계':'계'},inplace=True)

study_space

### 도서관

In [ ]:
library = pd.read_csv('/home/lee/dev_ws/projects/project01/data/도서관.csv',header=2,encoding='utf-8')

library = library.drop('자치구별(1)',axis=1)
library = library.drop([0,26])

library.rename(columns={
    '자치구별(2)':'자치구',
    '소계':'계'
},inplace=True)

library = library.set_index('자치구')
library = library.reset_index()
library = library[['자치구','계']]

library = library.set_index('자치구')
library['계'] = library['계'].astype(int)
library = library.sort_values('계')

library['타입'] = '도서관'

library

## 진학율&취업

In [ ]:
admit_employ = pd.read_csv('/home/lee/dev_ws/projects/project01/data/진학률.csv',header=1,encoding='utf-8')

admit_employ.rename(columns={
    '자치구별(2)':'자치구',
    '고등학교별(2)':'학교별',
    '졸업자 (명)':'졸업자',
    '진학자수 (명)':'진학자',
    '진학률 (%)':'진학률',
    '취업자 (명)':'취업자'
},inplace=True)

admit_employ = admit_employ[['자치구','학교별','졸업자','진학자','진학률','취업자']]

admit_employ = admit_employ[admit_employ['자치구']!='소계']

admit_employ = admit_employ.set_index('자치구')
admit_employ = admit_employ.reset_index()

In [ ]:
admit_employ.head()

In [ ]:
admit_employ_sort = admit_employ[admit_employ['학교별']=='소계']
admit_employ_sort = admit_employ_sort.reset_index().drop('index',axis=1)

In [ ]:
university = pd.concat([admit_employ_sort.set_index('자치구').sort_index(), university.set_index('자치구').sort_index()], axis=1)
university.head()

### 진학률 결과 admit_rate

In [ ]:
# 자치구별 진학률
admit_rate = admit_employ[['자치구','진학률','학교별','진학자']]
admit_rate = admit_rate[admit_rate['학교별']=='소계']
admit_rate = admit_rate.set_index('자치구')
admit_rate = admit_rate.reset_index()
admit_rate = admit_rate.drop('학교별', axis=1)

admit_rate = admit_rate.set_index('자치구')
admit_rate = admit_rate.sort_values('진학률')

### 취업률 결과 employ_rate

In [ ]:
# 자치구별 취업률
employ_rate = admit_employ[['자치구','졸업자','취업자','학교별']]
employ_rate = employ_rate[employ_rate['학교별']=='소계']
employ_rate = employ_rate.set_index('자치구')
employ_rate = employ_rate.reset_index()
employ_rate = employ_rate.drop('학교별', axis=1)

tmp = []

for i in range(len(employ_rate)):
    tmp.append(round((int(employ_rate['취업자'][i])/int(employ_rate['졸업자'][i])*100),1))

employ_rate['취업률'] = tmp
employ_rate = employ_rate[['자치구','취업률','취업자']]

employ_rate = employ_rate.set_index('자치구')
employ_rate = employ_rate.sort_values('취업률')

## 등록인구

In [ ]:
local_people = pd.read_csv('/home/lee/dev_ws/projects/project01/data/생활인구.csv', encoding='euc-kr')

local_people = local_people[local_people['기준일ID'] == 20250321]
local_people = local_people[['자치구코드', '총생활인구수', '남자0세부터9세생활인구수','남자10세부터14세생활인구수','남자15세부터19세생활인구수', '여자0세부터9세생활인구수','여자10세부터14세생활인구수','여자15세부터19세생활인구수']]
local_people = local_people.drop_duplicates(['자치구코드'])
local_people['아동'] = local_people['남자0세부터9세생활인구수'] + local_people['남자10세부터14세생활인구수'] + local_people['남자15세부터19세생활인구수']+local_people['여자0세부터9세생활인구수'] + local_people['여자10세부터14세생활인구수'] + local_people['여자15세부터19세생활인구수']
local_people['교육'] = local_people['남자10세부터14세생활인구수'] + local_people['남자15세부터19세생활인구수']+ local_people['여자10세부터14세생활인구수'] + local_people['여자15세부터19세생활인구수']
local_people = local_people[['자치구코드','총생활인구수','아동', '교육']]
local_people

## DB와 연결하기

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'team2',
    password = "1234",
    database = 'eda_project' 
)

cur = conn.cursor()

tmp = []

for gu_code in local_people['자치구코드']:
    cur.execute('SELECT gu_name FROM gu WHERE gu_code = %s', (gu_code,))
    gu_name = cur.fetchone()[0]

    tmp.append(gu_name)
    conn.commit()

local_people['자치구'] = tmp
local_people.head()

In [ ]:
for idx,num in enumerate(local_people['총생활인구수']):
    local_people['총생활인구수'][idx] = round(num,0)

for idx,num in enumerate(local_people['아동']):
    local_people['아동'][idx] = round(num,0)

for idx,num in enumerate(local_people['교육']):
    local_people['교육'][idx] = round(num,0)

### gu table에 학생 인구 넣기

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor()

# def update_pop(gu_code,student_population):
#     cur.execute('SELECT gu_id FROM gu WHERE gu_code = %s', (gu_code,))
#     gu_id = cur.fetchone()[0]

#     cur.execute(
#             'UPDATE gu SET student_population = %s WHERE gu_id = %s', 
#             (int(student_population), int(gu_id))
#         )
    
#     conn.commit()

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# for i,gu in  enumerate(local_people.index):
#      # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (local_people['자치구'][i],))
#     gu_id = cur.fetchone()[0]

#     student_population = local_people['교육'][i]    
#     cur.execute(
#             'UPDATE gu SET student_population = %s WHERE gu_id = %s', 
#             (int(student_population), int(gu_id))
#         )
    
#     conn.commit()

In [ ]:
# for gu in local_people.index:
#     update_pop(local_people.loc[gu]['자치구코드'],local_people.loc[gu]['교육'])

In [ ]:
# local_people['교육'][0]

## 모든 데이터 합치기

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# def update_pop(gu_code,total_population, child_population):
#     # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_code = %s', (gu_code,))
#     gu_id = cur.fetchone()[0]


#     cur.execute(
#             'UPDATE gu SET total_population = %s, child_population = %s WHERE gu_id = %s', 
#             (total_population, child_population, gu_id)
#         )
    
#     conn.commit()

In [ ]:
# school

school = pd.concat([daycare_center,preschool,elementary, middle, high], ignore_index=False)

school = school.sort_values('자치구').reset_index().drop('index',axis=1)

In [ ]:
school.head()

### DB에 데이터 넣기

In [ ]:
# tmp = []

# for gu_code in local_people['자치구코드']:
#     cur.execute('SELECT gu_name FROM gu WHERE gu_code = %s', (gu_code,))
#     gu_name = cur.fetchone()[0]

#     tmp.append(gu_name)
#     conn.commit()

# local_people['자치구'] = tmp

In [ ]:
school.head()

In [ ]:
school = school.set_index('자치구')

In [ ]:
school

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# for i,gu in  enumerate(school.index):
#      # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
#     gu_id = cur.fetchone()[0]

#     input = (gu_id, int(school['계'][i]), school['타입'][i])

#     cur.execute(
#             'INSERT INTO school (gu_id, school_count, school_type) '
#             'VALUES (%s, %s, %s)', 
#             input)
    
#     conn.commit()

In [ ]:
conn.close()

In [ ]:
# academy

academy = pd.concat([test_prep_acad, art_sport_acad],ignore_index=False)

In [ ]:
academy

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# for i,gu in  enumerate(academy.index):
#      # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
#     gu_id = cur.fetchone()[0]

#     input = (gu_id, float(academy['계'][i]), academy['타입'][i])

#     cur.execute(
#             'INSERT INTO academy (gu_id, academy_count, academy_type) '
#             'VALUES (%s, %s, %s)', 
#             input)
    
#     conn.commit()

In [ ]:
conn.close()

In [ ]:
academy.head()

In [ ]:
# learning_space

learning_space = pd.concat([library, study_space],ignore_index=False)

learning_space = learning_space.sort_values(['자치구']).reset_index()

In [ ]:
learning_space = learning_space.set_index('자치구')

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# for i,gu in  enumerate(school.index):
#      # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
#     gu_id = cur.fetchone()[0]

#     input = (gu_id, int(school['계'][i]), school['타입'][i])

#     cur.execute(
#             'INSERT INTO school (gu_id, school_count, school_type) '
#             'VALUES (%s, %s, %s)', 
#             input)
    
# conn.commit()

In [ ]:
conn.close()

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# for i,gu in  enumerate(learning_space.index):
#      # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
#     gu_id = cur.fetchone()[0]

#     input = (gu_id, float(learning_space['계'][i]), learning_space['타입'][i])

#     cur.execute(
#             'INSERT INTO learning_space (gu_id, space_count, space_type) '
#             'VALUES (%s, %s, %s)', 
#             input)
    

#     conn.commit()

In [ ]:
conn.close()

In [ ]:
university.head()

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host = 'database-1.cbwuowec22t2.ap-northeast-2.rds.amazonaws.com',
#     port = 3306,
#     user = 'team2',
#     password = "1234",
#     database = 'eda_project' 
# )

# cur = conn.cursor(buffered=True)

# for gu in  university.index:
#      # 구 ID 가져오기
#     cur.execute('SELECT gu_id FROM gu WHERE gu_name = %s', (gu,))
#     gu_id = cur.fetchone()[0]

#     input = (gu_id, float(university.loc[gu]['졸업자']), float(university.loc[gu]['진학자']), float(university.loc[gu]['진학률']), float(university.loc[gu]['계']))

#     cur.execute(
#             'INSERT INTO university (gu_id, high_graduation, uni_enrollment, advancement_rate, university_count) '
#             'VALUES (%s, %s, %s, %s, %s)', 
#             input)


#     conn.commit()

In [ ]:
conn.close()

## 시각화

In [ ]:
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [ ]:
daycare_center_sort = daycare_center.sort_values('계').set_index('자치구')
daycare_center_sort['계'].plot(kind='barh', grid=True, figsize=(8,8))

In [ ]:
high['계'].plot(kind='barh', grid=True, figsize=(8,8))

* **노원구, 강서구, 강남구, 송파구, 은평구 순으로 고등학교 수가 많다**

In [ ]:
test_prep_acad['계'].plot(kind='barh', grid=True, figsize=(8,8))

* **강남구, 양천구, 송파구, 서초구, 노원구 순으로 입시 학원 수가 많다**

In [ ]:
art_sport_acad['계'].plot(kind='barh', grid=True, figsize=(8,8))

* **강남구 송파구 마포구 강서구 강동구 순으로 예체능 학원 수가 많다**

In [ ]:
study_space['계'].plot(kind='barh', grid=True, figsize=(8,8))

* **강남구 송파구 서초구 양펀구 강서구 순으로 독서실 수가 많다**

In [ ]:
library['계'].plot(kind='barh', grid=True, figsize=(8,8))

* **서초구 종로구 중구 강남구 성북수 순으로 도서관 수가 많다**

In [ ]:
admit_rate['진학률'].plot(kind='barh', grid=True, figsize=(8,8))

* **진학률은 동대문구 금천구 서대문구 강동구 구로구 순으로 많지만 크게 차이가 나지는 않늗다**

In [ ]:
employ_rate['취업률'].plot(kind='barh', grid=True, figsize=(8,8))

* **진학을 하지 않고 바로 취업한 사람들은 중구 금천구 관악구 성북구 용산구 순으로 많다**

In [ ]:
high_sort = high.sort_values('자치구').set_index('자치구')
admit_rate_sort = admit_rate.sort_values('자치구')

In [ ]:
high_sort.head()

In [ ]:
admit_rate_sort.head()

In [ ]:
high_and_admit = pd.concat((high_sort, admit_rate_sort), axis=1)
high_and_admit.head()

In [ ]:
import seaborn as sns

high_and_admit = high_and_admit.sort_values('계')

plt.figure(figsize=(8,8))
sns.barplot(x='자치구',y='계',data=high_and_admit, hue='자치구')
sns.lineplot(x='자치구',y='진학률',data=high_and_admit, marker='o', markersize=10)
plt.xticks(rotation=45)

* **각 행정구역별 고등학교 수와 진학률을 비교해봤을 때 상관이 없어 보인다**

In [ ]:
acad_sort = academy_studyspace[['자치구', '계']].sort_values('자치구').set_index('자치구')
acad_num = 0
for i in acad_sort['계']:
    acad_num+=int(i)

print(acad_num)
tmp = []

for num in acad_sort['계']:
    tmp.append(round(1/(int(num)/acad_num*100),1))

acad_sort['비율'] = tmp
acad_sort.head()

In [ ]:
admit_rate_sort.head()

In [ ]:
acad_and_admit = pd.concat((acad_sort, admit_rate_sort), axis=1)
acad_and_admit

In [ ]:
acad_and_admit = acad_and_admit.sort_values('비율',ascending=False)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib

plt.figure(figsize=(8,8))
sns.barplot(x='자치구',y='비율',data=acad_and_admit, hue='자치구')
sns.lineplot(x='자치구',y='진학률',data=acad_and_admit, marker='o', markersize=10)
plt.xticks(rotation=45)

### 인구 대비 학원 수 진학률 영향??

In [ ]:
local_people

In [ ]:
acad_sort = academy.sort_values('자치구')
acad_sort = pd.pivot_table(data=acad_sort,columns='자치구',values='계', aggfunc='sum').T
people_sort = local_people.set_index('자치구').sort_values('자치구')

acad_people_rate = pd.concat([acad_sort, people_sort],axis=1)
acad_people_rate

In [ ]:
acad_people_rate.loc['강남구']['교육']

In [ ]:
rate = []

for gu in acad_people_rate.index:
    rate.append(round((acad_people_rate.loc[gu]['교육']/acad_people_rate.loc[gu]['계']),0))

acad_people_rate['학원당 학생'] = rate

In [ ]:
acad_people_rate.head()

In [ ]:
acad_and_admit = pd.concat([acad_people_rate, admit_rate_sort],axis=1)

In [ ]:
acad_and_admit = acad_and_admit.sort_values('학원당 학생')

In [ ]:
import seaborn as sns

plt.figure(figsize=(8,8))
sns.barplot(x='자치구',y='학원당 학생',data=acad_and_admit, hue='자치구')
sns.lineplot(x='자치구',y='진학률',data=acad_and_admit, marker='o', markersize=10)
plt.xticks(rotation=45)

In [ ]:
stud_room = study_space.sort_values('자치구')
people_sort = local_people.set_index('자치구').sort_values('자치구')

stud_people_rate = pd.concat([stud_room, people_sort],axis=1)
stud_people_rate

In [ ]:
rate = []

for gu in stud_people_rate.index:
    rate.append(round((stud_people_rate.loc[gu]['교육']/stud_people_rate.loc[gu]['계']),0))

stud_people_rate['독서실당 학생'] = rate

In [ ]:
stud_people_rate

In [ ]:
stud_and_admit = pd.concat([stud_people_rate, admit_rate_sort],axis=1)

In [ ]:
stud_and_admit.head()

In [ ]:
# 데이터 정렬
stud_and_admit = stud_and_admit.sort_values('진학률')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=stud_and_admit.index, y='진학률', data=stud_and_admit, ax=ax1, color='skyblue')
ax1.set_ylabel("진학률 (%)", color='blue')
ax1.tick_params(axis='y', labelcolor='blue')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=stud_and_admit.index, y='독서실당 학생', data=stud_and_admit, ax=ax2, marker='o', markersize=10, color='red')
ax2.set_ylabel("독서실당 학생 수", color='red')
ax2.tick_params(axis='y', labelcolor='red')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(stud_and_admit.index)))  # x축 위치 설정
ax1.set_xticklabels(stud_and_admit.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 독서실당 학생 수")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns

stud_and_admit = stud_and_admit.sort_values('진학률')

plt.figure(figsize=(8,8))
sns.barplot(x='자치구',y='진학률',data=stud_and_admit, hue='자치구')
sns.lineplot(x='자치구',y='독서실당 학생',data=stud_and_admit, marker='o', markersize=10)
plt.xticks(rotation=45)

In [ ]:
# 데이터 정렬
stud_and_admit = stud_and_admit.sort_values('진학률')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=stud_and_admit.index, y='진학률', data=stud_and_admit, ax=ax1, color='skyblue')
ax1.set_ylabel("진학률 (%)", color='blue')
ax1.tick_params(axis='y', labelcolor='blue')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=stud_and_admit.index, y='독서실당 학생', data=stud_and_admit, ax=ax2, marker='o', markersize=10, color='red')
ax2.set_ylabel("독서실당 학생 수", color='red')
ax2.tick_params(axis='y', labelcolor='red')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(stud_and_admit.index)))  # x축 위치 설정
ax1.set_xticklabels(stud_and_admit.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 독서실당 학생 수")
plt.show()

## 시설당 학생 수

In [ ]:
people_sort = local_people.set_index('자치구').sort_index()
people_sort.head()

In [ ]:
acad_sort.head()

In [ ]:
lib_sort = library.sort_index()
lib_sort.head()

In [ ]:
space_sort = study_space.sort_index()
space_sort.head()

In [ ]:
youth = school[~school['타입'].isin(['어린이집', '유치원'])]
youth = pd.pivot_table(data=youth, index='자치구', values='계', aggfunc='sum')
youth_sort = youth.sort_index()
youth_sort.head()

In [ ]:
day_sort = daycare_center.set_index('자치구').sort_index()
day_sort.head()

In [ ]:
pre_sort = preschool.set_index('자치구').sort_index()
pre_sort.head()

In [ ]:
people_acad = pd.concat([people_sort,
                         acad_sort.rename(columns={'계':'학원 수'}), 
                         youth_sort.rename(columns={'계':'학교 수'}), 
                         lib_sort.rename(columns={'계':'도서관 수'}), 
                         space_sort.rename(columns={'계':'독서실 수'}),
                         day_sort.rename(columns={'계':'어린이집 수'}),
                         pre_sort.rename(columns={'계':'유치원 수'})],
                         axis=1)
people_acad.head()

In [ ]:
tmp1 = []

for i in range(len(people_acad)):
    tmp1.append(round((int(people_acad['교육'][i])/int(people_acad['총생활인구수'][i])*100),1))

people_acad['총_교육'] = tmp1

tmp2 = []

for i in range(len(people_acad)):
    tmp2.append(round((int(people_acad['아동'][i])-int(people_acad['교육'][i])),1))

people_acad['유아'] = tmp2

tmp3 = []

for i in range(len(people_acad)):
    tmp3.append(round((int(people_acad['어린이집 수'][i])-int(people_acad['유치원 수'][i])),1))

people_acad['유아시설'] = tmp3

tmp4 = []

for i in range(len(people_acad)):
    tmp4.append(round((int(people_acad['유아'][i])/int(people_acad['총생활인구수'][i])*100),1))

people_acad['총_유아'] = tmp4

people_acad.head()

In [ ]:
tmp1 = []

for i in range(len(people_acad)):
    tmp1.append(round((int(people_acad['교육'][i])/int(people_acad['학교 수'][i])*100),1))

people_acad['학교 당 학생'] = tmp1

tmp2 = []

for i in range(len(people_acad)):
    tmp2.append(round((int(people_acad['교육'][i])-int(people_acad['학원 수'][i])),1))

people_acad['학원 당 학생'] = tmp2

tmp3 = []

for i in range(len(people_acad)):
    tmp3.append(round((int(people_acad['교육'][i])-int(people_acad['독서실 수'][i])),1))

people_acad['독서실 당 학생'] = tmp3

tmp4 = []

for i in range(len(people_acad)):
    tmp4.append(round((int(people_acad['교육'][i])/int(people_acad['도서관 수'][i])*100),1))

people_acad['도서관 당 학생'] = tmp4

people_acad.head()

In [ ]:
ae_sort = admit_employ_sort.set_index('자치구').sort_index()

In [ ]:
test_prep_acad = test_prep_acad.rename(columns={'계':'입시학원 수'})

In [ ]:
people_acad = pd.concat([people_acad.sort_index(),ae_sort, test_prep_acad.sort_index()], axis=1)
people_acad

In [ ]:
tmp4 = []
for i in range(len(people_acad)):
    tmp4.append(round((int(people_acad['교육'][i])/int(people_acad['입시학원 수'][i])*100),1))

people_acad['입시학원 당 학생'] = tmp4

In [ ]:
# 데이터 정렬
people_acad = people_acad.sort_values('학교 당 학생')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=people_acad.index, y='학교 당 학생', data=people_acad, ax=ax1, hue=people_acad.index)
ax1.set_ylabel("학교 당 학생 (명)", color='red')
ax1.tick_params(axis='y', labelcolor='red')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=people_acad.index, y='진학률', data=people_acad, ax=ax2, marker='o', markersize=10, color='b')
ax2.set_ylabel("진학률 (%)", color='b')
ax2.tick_params(axis='y', labelcolor='b')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(people_acad.index)))  # x축 위치 설정
ax1.set_xticklabels(people_acad.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 학교 당 학생 수")
plt.show()

In [ ]:
# 데이터 정렬
people_acad = people_acad.sort_values('학원 당 학생')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=people_acad.index, y='학원 당 학생', data=people_acad, ax=ax1, hue=people_acad.index)
ax1.set_ylabel("학원 당 학생 (명)", color='red')
ax1.tick_params(axis='y', labelcolor='red')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=people_acad.index, y='진학률', data=people_acad, ax=ax2, marker='o', markersize=10, color='b')
ax2.set_ylabel("진학률 (%)", color='b')
ax2.tick_params(axis='y', labelcolor='b')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(people_acad.index)))  # x축 위치 설정
ax1.set_xticklabels(people_acad.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 학원 당 학생 수")
plt.show()

In [ ]:
people_acad

In [ ]:
# 데이터 정렬
people_acad = people_acad.sort_values('입시학원 당 학생')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=people_acad.index, y='입시학원 당 학생', data=people_acad, ax=ax1, hue=people_acad.index)
ax1.set_ylabel("입시학원 당 학생 (명)", color='red')
ax1.tick_params(axis='y', labelcolor='red')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=people_acad.index, y='진학률', data=people_acad, ax=ax2, marker='o', markersize=10, color='b')
ax2.set_ylabel("진학률 (%)", color='b')
ax2.tick_params(axis='y', labelcolor='b')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(people_acad.index)))  # x축 위치 설정
ax1.set_xticklabels(people_acad.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 입시학원 당 학생 수")
plt.show()

In [ ]:
# 데이터 정렬
people_acad = people_acad.sort_values('도서관 당 학생')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=people_acad.index, y='도서관 당 학생', data=people_acad, ax=ax1, hue=people_acad.index)
ax1.set_ylabel("도서관 당 학생 (명)", color='red')
ax1.tick_params(axis='y', labelcolor='red')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=people_acad.index, y='진학률', data=people_acad, ax=ax2, marker='o', markersize=10, color='b')
ax2.set_ylabel("진학률 (%)", color='b')
ax2.tick_params(axis='y', labelcolor='b')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(people_acad.index)))  # x축 위치 설정
ax1.set_xticklabels(people_acad.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 도서관 당 학생 수")
plt.show()

In [ ]:
# 데이터 정렬
people_acad = people_acad.sort_values('독서실 당 학생')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=people_acad.index, y='독서실 당 학생', data=people_acad, ax=ax1, hue=people_acad.index)
ax1.set_ylabel("독서실 당 학생 (명)", color='red')
ax1.tick_params(axis='y', labelcolor='red')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=people_acad.index, y='진학률', data=people_acad, ax=ax2, marker='o', markersize=10, color='b')
ax2.set_ylabel("진학률 (%)", color='b')
ax2.tick_params(axis='y', labelcolor='b')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(people_acad.index)))  # x축 위치 설정
ax1.set_xticklabels(people_acad.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 독서실 당 학생 수")
plt.show()

In [ ]:
# 데이터 정렬
people_acad = people_acad.sort_values('유아시설')

# Figure 생성
fig, ax1 = plt.subplots(figsize=(8, 8))

# 첫 번째 y축 (barplot, 왼쪽)
sns.barplot(x=people_acad.index, y='유아시설', data=people_acad, ax=ax1, hue=people_acad.index)
ax1.set_ylabel("유아시설 (개)", color='blue')
ax1.tick_params(axis='y', labelcolor='blue')

# 두 번째 y축 (lineplot, 오른쪽)
ax2 = ax1.twinx()
sns.lineplot(x=people_acad.index, y='총_유아', data=people_acad, ax=ax2, marker='o', markersize=10, color='b')
ax2.set_ylabel("총 인구 당 유아 (명)", color='red')
ax2.tick_params(axis='y', labelcolor='red')

# x축 설정 (회전 적용)
ax1.set_xticks(range(len(people_acad.index)))  # x축 위치 설정
ax1.set_xticklabels(people_acad.index, rotation=45)  # 인덱스를 라벨로 설정

plt.title("자치구별 진학률과 독서실당 학생 수")
plt.show()

In [ ]:
people_acad.head()

In [ ]:
people_acad.loc['종로구']['유아']

In [ ]:
child_per_facility = []

for gu in people_acad.index:
    capacity = people_acad.loc[gu]['유아'] / people_acad.loc[gu]['유아시설']
    child_per_facility.append(round(capacity,0))

people_acad['시설당 유아'] = child_per_facility

In [ ]:
people_acad

In [ ]:
people_acad = people_acad.sort_values('시설당 유아',ascending=False)
people_acad['시설당 유아'].plot(kind='barh', grid=True, figsize=(8,8))

In [ ]:
chlid_people_rate = []

for gu in people_acad.index:
    rate = (people_acad.loc[gu]['아동'] / people_acad.loc[gu]['총생활인구수'] )* 100
    chlid_people_rate.append(round(rate,2))

people_acad['생활인구당 아동'] = chlid_people_rate

In [ ]:
people_acad = people_acad.sort_values('생활인구당 아동',ascending=True)
people_acad['생활인구당 아동'].plot(kind='barh', grid=True, figsize=(8,8))

### 보육교사 당 담당하는 유아

In [ ]:
educator = pd.read_csv('/home/lee/dev_ws/projects/project01/data/보육교사.csv',encoding='euc-kr')
educator

In [ ]:
educator = educator[educator['통계연도']==2024]
educator = educator[['자치구명', '원장수_여', '원장수_남', '보육교사수_여', '보육교사수_남']]

for idx, gu in enumerate(educator['자치구명']):
    if gu == '중구':
        pass
    else:
        educator['자치구명'][idx] = gu + '구'

educator.rename(columns={'자치구명':'자치구'}, inplace=True)

# educator = pd.pivot_table(data=educator, index='자치구명', values=['원장수_여', '원장수_남', '보육교사수_여', '보육교사수_남'],aggfunc='sum')
educator.set_index('자치구')

In [ ]:
total = []

for gu in educator.index:
    result = int(educator.loc[gu]['원장수_남'] + educator.loc[gu]['원장수_여'] + educator.loc[gu]['보육교사수_남'] + educator.loc[gu]['보육교사수_여'])
    total.append(result)

educator['계'] = total

In [ ]:
educator = educator.set_index('자치구')
educator.head()

In [ ]:
people_acad = pd.concat([people_acad.sort_index(), educator.sort_index()], axis=1)
people_acad.head()

In [ ]:
child_per_teacher = []

for gu in people_acad.index:
    per = (int(people_acad.loc[gu]['유아']) / int(people_acad.loc[gu]['계']) ) * 100
    child_per_teacher.append(round(per,0))

people_acad['교사당 유아'] = child_per_teacher

In [ ]:
people_acad.head()

In [ ]:
people_acad = people_acad.sort_values('교사당 유아',ascending=True)
people_acad['교사당 유아'].plot(kind='barh', grid=True, figsize=(8,8))

In [ ]:
result = people_acad[['자치구코드', '교육', '학교 수','학원 수', '도서관 수','독서실 수']]

In [ ]:
result.head()

In [ ]:
tmp1 = []

for i in range(len(result)):
    tmp1.append(round((int(result['학교 수'][i])/int(result['교육'][i])*1000),0))

result['학교/학생'] = tmp1

tmp2 = []

for i in range(len(result)):
    tmp2.append(round((int(result['학원 수'][i])/int(result['교육'][i])*1000),0))

result['학원/학생'] = tmp2

tmp3 = []

for i in range(len(result)):
    tmp3.append(round((int(result['도서관 수'][i])/int(result['교육'][i])*1000),0))

result['도서관/학생'] = tmp3

tmp4 = []

for i in range(len(result)):
    tmp4.append(round((int(result['독서실 수'][i])/int(result['교육'][i])*1000),0))

result['독서실/학생'] = tmp4

result.head()

In [ ]:
people_acad

In [ ]:
import folium
import json

geo_path = '/home/lee/dev_ws/eda/data/seoul_crime/02. skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

map = folium.Map(location=[37.5502, 126.982], zoom_start=10.5, tiles='OpenStreetMap')
setting = folium.Choropleth(geo_data=geo_str,
                            data=people_acad,
                            columns=[people_acad.index, '학교 당 학생'],
                            key_on='feature.id',
                            fill_colors='PuRd'
                            )

setting.add_to(map)
map

In [ ]:
geo_path = '/home/lee/dev_ws/eda/data/seoul_crime/02. skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

map = folium.Map(location=[37.5502, 126.982], zoom_start=10.5, tiles='OpenStreetMap')
setting = folium.Choropleth(geo_data=geo_str,
                            data=people_acad,
                            columns=[people_acad.index, '학원 당 학생'],
                            key_on='feature.id',
                            fill_colors='PuRd'
                            )

setting.add_to(map)
map

In [ ]:
geo_path = '/home/lee/dev_ws/eda/data/seoul_crime/02. skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

map = folium.Map(location=[37.5502, 126.982], zoom_start=10.5, tiles='OpenStreetMap')
setting = folium.Choropleth(geo_data=geo_str,
                            data=people_acad,
                            columns=[people_acad.index, '입시학원 당 학생'],
                            key_on='feature.id',
                            fill_colors='PuRd'
                            )

setting.add_to(map)
map

In [ ]:
geo_path = '/home/lee/dev_ws/eda/data/seoul_crime/02. skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

map = folium.Map(location=[37.5502, 126.982], zoom_start=10.5, tiles='OpenStreetMap')
setting = folium.Choropleth(geo_data=geo_str,
                            data=people_acad,
                            columns=[people_acad.index, '도서관 당 학생'],
                            key_on='feature.id',
                            fill_colors='PuRd'
                            )

setting.add_to(map)
map

In [ ]:
geo_path = '/home/lee/dev_ws/eda/data/seoul_crime/02. skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

map = folium.Map(location=[37.5502, 126.982], zoom_start=10.5, tiles='OpenStreetMap')
setting = folium.Choropleth(geo_data=geo_str,
                            data=people_acad,
                            columns=[people_acad.index, '독서실 당 학생'],
                            key_on='feature.id',
                            fill_colors='PuRd'
                            )

setting.add_to(map)
map

In [ ]:
geo_path = '/home/lee/dev_ws/eda/data/seoul_crime/02. skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

seoul_center = [37.5665, 126.9780]

map = folium.Map(location=seoul_center, zoom_start=10.5, tiles='OpenStreetMap')
setting = folium.Choropleth(geo_data=geo_str,
                            data=result,
                            columns=[result.index, '독서실/학생'],
                            key_on='feature.id',
                            fill_colors='PuRd'
                            )

setting.add_to(map)
map

# 서울시 행정구역별 중심 좌표 (일부 샘플)
districts = {
    "종로구": [37.5729503, 126.9793579],
    "중구": [37.5636171, 126.9979403],
    "용산구": [37.5325272, 126.9902296],
    "성동구": [37.5633415, 127.0368001],
    "광진구": [37.5384846, 127.0822937],
    "동대문구": [37.5743682, 127.0396329],
    "중랑구": [37.606991, 127.092883],
    "성북구": [37.5894004, 127.0167498],
    "강북구": [37.6396098, 127.025657],
    "도봉구": [37.6687735, 127.0470701],
    "노원구": [37.6541916, 127.0567933],
    "은평구": [37.617612, 126.9227005],
    "서대문구": [37.5791158, 126.9367784],
    "마포구": [37.5663242, 126.9014918],
    "양천구": [37.5168722, 126.8663985],
    "강서구": [37.5509786, 126.8495382],
    "구로구": [37.4954037, 126.8873663],
    "금천구": [37.4605671, 126.9001081],
    "영등포구": [37.5264203, 126.896195],
    "동작구": [37.512402, 126.9392521],
    "관악구": [37.4784063, 126.951613],
    "서초구": [37.483569, 127.032598],
    "강남구": [37.517235, 127.047325],
    "송파구": [37.514543, 127.105880],
    "강동구": [37.530126, 127.123770],
}

# 마커 추가
for district, coords in districts.items():
    folium.Marker(
        location=coords,
        popup=district,
        tooltip=f"{district} 구",
        icon=folium.Icon(color='blue', icon='info-sign')
    ).add_to(map)
    
    folium.Marker(
        location=coords,
        icon=folium.DivIcon(html=f'<div style="font-size: 12px; color: black; font-weight: bold;">{district}</div>')
    ).add_to(map)

In [ ]:
map